<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size="12">
            <ion-segment value="Brasil">
                <ion-segment-button value="Brasil">
                    <ion-label>Brasil</ion-label>
                </ion-segment-button>
                <ion-segment-button value="China">
                    <ion-label>China</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Índia">
                    <ion-label>Índia</ion-label>
                </ion-segment-button>
                <ion-segment-button value="México">
                    <ion-label>México</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Itália">
                    <ion-label>Itália</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Jordânia">
                    <ion-label>Jordânia</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Peru">
                    <ion-label>Peru</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-col>
    </ion-row>
    
</ion-content>